<div class="jumbotron">
	<h1>About the team!</h1>
	<p>Well, at this point, it's a simple team, just me at the moment... find out more about Peter <%= link_to "here", "#", class: "btn btn-primary btn-lg" %></p>
</div>